// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;
$primary: #0d6efd;
$secondary: #6c757d;
$danger: #dc3545;
